[Unit]
Description=Chaotic+TkG's kernels routine

[Service]
User=root
Group=chaotic_op
WorkingDirectory=/tmp
ExecStart=/usr/local/bin/chaotic routine tkg-kernels

[Install]
WantedBy=multi-user.target
