[Unit]
Description=Chaotic+TkG's wine routine

[Service]
User=root
Group=chaotic_op
WorkingDirectory=/tmp
ExecStart=/usr/local/bin/chaotic routine tkg-wine

TimeoutStopSec=21000
TimeoutStopFailureMode=abort
WatchdogSignal=SIGUSR1
TimeoutAbortSec=600

[Install]
WantedBy=multi-user.target
