[Unit]
Description=Chaotic's automatic log sorting utility
After=network-online.target
Wants=network-online.target

[Service]
User=root
Group=chaotic_op
WorkingDirectory=/tmp
ExecStart=/usr/local/bin/chaotic sort-logs

[Install]
WantedBy=multi-user.target
