[Unit]
Description=Chaotic's hourly routine

[Service]
User=root
Group=chaotic_op
WorkingDirectory=/tmp
ExecStart=/usr/local/bin/chaotic -j 0 routine hourly

TimeoutStopSec=13800
TimeoutStopFailureMode=abort
WatchdogSignal=SIGUSR1
TimeoutAbortSec=600

[Install]
WantedBy=multi-user.target
