[Unit]
Description=Chaotic's afternoon routine

[Service]
User=root
Group=chaotic_op
WorkingDirectory=/tmp
ExecStart=/usr/local/bin/chaotic -j 4 routine afternoon

[Install]
WantedBy=multi-user.target
