[Unit]
Description=Chaotic+TkG's wine routine

[Service]
User=root
Group=chaotic_op
WorkingDirectory=/tmp
ExecStart=/usr/local/bin/chaotic routine tkg-wine

[Install]
WantedBy=multi-user.target
