[Unit]
Description=Chaotic's morning routine
After=network-online.target
Wants=network-online.target

[Service]
User=root
Group=chaotic_op
WorkingDirectory=/tmp
ExecStart=/usr/local/bin/chaotic routine morning

TimeoutStopSec=21000
TimeoutStopFailureMode=abort
WatchdogSignal=SIGUSR1
TimeoutAbortSec=600

[Install]
WantedBy=multi-user.target
